<!-- <style>
    .apply{
        position: absolute;
    }
</style> -->

<app-user-nav></app-user-nav>

<h1 class=" ml-4 position-absolute mt-4">Timesheet Approval</h1>
<button routerLink="/user/timecard/submit" class="apply mb-4 mt-5 btn btn-success float-right mr-5">Submit Job</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Site Code</th>
            <th style="width: 20%">Contractor</th>
            <th style="width: 20%">Total Hrs</th>
            <th style="width: 20%">Total Amount</th>
            <th style="width: 20%">Approval Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let time of card">
            <td>{{time.code}}</td>
            <td>{{time.name}}</td>
            <td>{{time.hours}} Hrs</td>
            <td>${{time.ammount}}</td>
            <td>{{time.approval}}</td>
        </tr>
        <tr *ngIf="!card">
            <td colspan="4" class="text-center">
                <span class="align-center">No Data</span>
            </td>
        </tr>
    </tbody>
</table>