<h1>Jobs</h1>
<a routerLink="jobs/add" class="btn btn-sm btn-success mb-2">Add Job</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Job Code</th>
            <th style="width: 30%">Description</th>
            <th style="width: 30%">Rate</th>
            <th style="width: 30%">Max Daily Hours</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jobs of jobs">
            <td>{{jobs.code}}</td>
            <td>{{jobs.description}}</td>
            <td>{{jobs.rate}}</td>
            <td>{{jobs.hours}}</td>
            <td style="white-space: nowrap">
                <a routerLink="jobs/edit/{{jobs.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteJobs(jobs.id)" class="btn btn-sm btn-danger btn-delete-jobs" [disabled]="jobs.isDeleting">
                    <span *ngIf="jobs.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!jobs.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!jobs">
            <td colspan="4" class="text-center">
                <span class="align-center">No Data</span>
            </td>
        </tr>
    </tbody>
</table>