<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/admin">DisasterRecovery</a>
     
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/admin/jobs" routerLinkActive="active">Job Management</a>
          <a class="nav-link" routerLink="/admin/machine" routerLinkActive="active">Machine Management</a>
          <a class="nav-link" routerLink="/admin/timecard" routerLinkActive="active">Timecard Approval</a>
          <a class="nav-link" (click)="logout()">Logout</a>
        </div>
      </div>

  </nav>