<h1 class="ml-4 mb-4 mt-5">Timesheet Submission</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row ml-4 mb-4">
        <div class="form-group col-sm-3">
            <label for="code">Site Code</label>
            <input type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Site Code is required</div>
            </div>
        </div>
        <div class="form-group ml-4 col-sm-3">
            <label for="name">Name</label>
            <input type="name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
        <div class=" ml-4 col-sm-3">
            <label>Date</label>
            <div>
                <div class="col-10">
                  <input class="form-control" type="date" value="2021-06-13" id="example-date-input">
                </div>
              </div>
        </div>
    </div>

    <div class="container-fluid text-center mb-2 ml-3">
        <div style="width:90%" class="border rounded border-secondary">
            <h2 class="text-left mt-1 ml-1">Labor Entry</h2>
            <div class="row mt-4 mb-4">
                <div class="ml-4 col-sm-2">
                    <label for="labelCode">Labor Code:</label>
                </div>
                <div class="col-sm-3">
                    <select (change)="selectChangeHandler($event)" class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option *ngFor="let job of jobs" value={{job.rate}}>{{job.code}}</option>
                      </select>
                </div>
                <div (change)="inputChangeHandler($event)" class="col-sm-3">
                    Hrs. worked<input style="width:30%" class="ml-3" type="number"/>
                </div>
                <div class="col-sm-3">
                    Total: <span>${{selectedJob * mh1}}</span>
                </div>
                
            </div>
            <button class="btn btn-success mb-1">ADD</button>
        </div>
    </div>

    <div class="container-fluid text-center mb-2 ml-3">
        <div style="width:90%" class="border rounded border-secondary">
            <h2 class="text-left mt-1 ml-1">Machine Entry</h2>
            <div class="row mt-4 mb-4">
                <div class="ml-4 col-sm-2">
                    <label for="labelCode">Machine Code:</label>
                </div>
                <div class="col-sm-3">
                    <select (change)="selectChangeMachine($event)" class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option *ngFor="let machine of machine" value={{machine.rate}}>{{machine.code}}</option>
                      </select>
                </div>
                <div (change)="inputChangeMachine($event)" class="col-sm-3">
                    Hrs. worked<input  style="width:30%" class="ml-3" type="number"/>
                </div>
                <div class="col-sm-3">
                    Total: <span>${{selectedMachine * mh2}}</span>
                </div>
                
            </div>
            <button class="btn btn-success mb-1">ADD</button>
        </div>
    </div>

    <div class="d-none">
        <span class="form-group float-right mr-5">
            Total Amount: <input class="form-control" [(ngModel)]="totalA" formControlName="ammount" type="number" value="{{totalAmount()}}"/>
            Total Hours: <input class="form-control" [(ngModel)]="totalH" formControlName="hours" type="number" value="{{totalHours()}}"/>
        </span>
    </div>


    

    <div class="ml-4 mt-4 form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/timecard/user" class="btn btn-link">Cancel</a>
    </div>
</form>