<app-admin-nav></app-admin-nav>

<h1 class="ml-4 mb-4 mt-5">Timesheet Approval</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Site Code</th>
            <th style="width: 30%">Contractor</th>
            <th style="width: 30%">Total Hrs</th>
            <th style="width: 30%">Total Amount</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let time of card">
            <td>{{time.code}}</td>
            <td>{{time.name}}</td>
            <td>{{time.hours}} Hrs</td>
            <td>${{time.ammount}}</td>


            <td style="white-space: nowrap">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <button (click)="onApprove()" class="btn btn-sm btn-primary mr-2">
                        <span formControlName="approval" [(ngModel)]="approval">Approve</span></button>
                    <button (click)="onReject()" class="btn btn-sm btn-danger">Reject</button>
                </form>
            </td>

            
        </tr>
        <tr *ngIf="!card">
            <td colspan="4" class="text-center">
                <span class="align-center">No Data</span>
            </td>
        </tr>
    </tbody>
</table>